<!doctype html>
<html>
<head>
  <title>&#x1f3e1;</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
  <style>
    body {
      font-family: 'Oswald', sans-serif;
    }
    .unstyled-list {
      list-style: none;
    }
    input[type="checkbox"]:checked + label {
        text-decoration: line-through;
        color: grey;
    }
    .navigable-list li:focus-within {
      background-color: cyan;
    }
    .todo-context {
      color: grey;
    }
    .last-updated {
      color: grey;
      font-size: 80%;
    }
    .priority-label { font-size: 70%; color: grey; }
    .todo-priority-0 { font-size: 150%; }
    .todo-priority-1 { font-size: 120%; }
  </style>
</head>
<body>
  <h1><span id="total_todos_count">{{ todos_count }}</span> TODOs</h1>

  <ul class="unstyled-list navigable-list">
  {% for local_file in local_files %}
    <li{% if local_file.needs_update() %} class="needs-update"{% endif %}>
      <a class="navigable-elem" href="editlocal://{{ local_file.desc.path }}">{{ local_file.desc.path }}</a>
      <span class="last-updated">
        {% if local_file.needs_update() %}&#x2757; {% endif %}
        last updated {{ local_file.duration_since_modified()|humanize_duration }}
      </span>
    </li>
  {% endfor %}
  </ul>

  <ul id="todo_list" class="unstyled-list navigable-list">
  {% for todo in todos %}
    <li class="todo-priority-{{ todo.priority }}">
      <input class="navigable-elem" type="checkbox" id="todo-{{- loop.index0 }}" value="{{ todo.calc_hash() }}"{% if todo.finished %} checked{% endif %}>
      <label for="todo-{{- loop.index0 }}">
        <span class="priority-label">{{ todo.priority_label() }}</span>
        {{ todo.subject|linkify|spanify|safe }}
      </label>
    </li>
  {% endfor %}
  </ul>

  <pre>{{ json_dump }}</pre>

<script>
function postJSON(url, data, cb) {
  console.log("POST " + url + " " + JSON.stringify(data));
  function reqListener() {
    console.log(this.response);
  }
  var xhr = new XMLHttpRequest();
  xhr.addEventListener("load", reqListener);
  xhr.open("POST", "/todos");
  xhr.setRequestHeader('Content-Type', 'application/json');
  if (cb) {
    xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var res = JSON.parse(this.responseText);
        cb(res);
      }
    }
  }
  xhr.send(JSON.stringify(data));
}

function markTodo(hash, completed, cb) {
  postJSON("/todos", { hash: hash, completed: completed }, cb);
}

function clickTodo(e) {
  var node = e.target;
  if (node.nodeName !== "INPUT")
    return;

  var hash = node.getAttribute("value");
  var markFinished = node.checked;
  markTodo(hash, markFinished, function(res) {
    if (res.hash) {
      node.value = res.hash;
    }
  });
}

function getFocusedElement() {
  if (document.hasFocus() &&
      document.activeElement !== document.body &&
      document.activeElement !== document.documentElement)
  {
      return document.activeElement;
  }
}

function mod(n, m) {
  return ((n % m) + m) % m;
}

document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("todo_list").addEventListener("click", clickTodo, false);
});

function navigateKeys(delta) {
  var elem = getFocusedElement();
  var allNavigable = [].slice.call(document.getElementsByClassName("navigable-elem"));
  var index = allNavigable.indexOf(elem) + delta;
  if (index < -1)
    index = -1;
  allNavigable[mod(index,  allNavigable.length)].focus();
}

document.addEventListener("focus", (event) => {
  console.log(event.target + " FOCUS");
});

document.addEventListener('keypress', (event) => {
  const keyName = event.key;
  switch (keyName) {
      case "j":
        navigateKeys(1);
        return false;
      case "k":
        navigateKeys(-1);
        return false;
      case "x":
        var elem = getFocusedElement();
        if (elem.nodeName == "INPUT") {
          elem.checked = !elem.checked;
          return false;
        }
        break;
      case "Enter":
        // If in a TODO list, enter follows the link.
        var elem = getFocusedElement();
        if (elem.nodeName == "INPUT") {
          var links = elem.parentElement.getElementsByTagName('a');
          if (links.length > 0) {
            links[0].click();
            return false;
          }
        }
        break;
  }
});
</script>

</body>
</html>
